@{
    ViewBag.Title = "MÁI ẤM TRUYỀN TIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="event-div">
    <ul class="event-nav">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Danh sách sự kiện
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class='dropdown-item' href='#event1'>Năm thánh lập 1995</a><a class='dropdown-item' href='#event2'>Năm 1998</a><a class='dropdown-item' href='#event3'>Năm 2000</a><a class='dropdown-item' href='#event4'>Năm 2004</a><a class='dropdown-item' href='#event5'>Năm 2005</a><a class='dropdown-item' href='#event6'>Năm 2010</a><a class='dropdown-item' href='#event7'>Năm 2012</a><a class='dropdown-item' href='#event8'>Năm 2015</a><a class='dropdown-item' href='#event9'>Năm 2016</a><a class='dropdown-item' href='#event10'>Năm 2017 - 2018</a><a class='dropdown-item' href='#event11'>Năm 2019</a><a class='dropdown-item' href='#event12'>Năm 2020</a>
            </div>
        </div>
    </ul>
</div>
<div class="list-div">
    <ul>
        <li>
            <div class='event-item-mid' id='event1' data-aos='fade-up'>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
                <h1>Năm thánh lập 1995</h1>
                <p>Nuôi các trẻ ở vùng sâu, xa ăn học và hỗ trợ chỗ ở</p>
            </div>
        </li>
        <li>
            <div class='event-item-left' id='event2' data-aos='fade-right'>
                <h1>Năm 1998</h1>
                <p>
                    Bắt đầu nhận nuôi 3 trẻ sơ sinh bỉ bỏ rơi đầu tiên, Xây nhà 923/7
                </p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-right' id='event3' data-aos='fade-left'>
                <h1>Năm 2000</h1>
                <p>
                    Sau năm năm hoạt động số lượng trẻ lên tới 20 trẻ
                </p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-left' id='event4' data-aos='fade-right'>
                <h1>Năm 2004</h1>
                <p>
                    Sơ Yên tổ chức cho trẻ đi nghỉ hè ở Phan Thiết
                </p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-right' id='event5' data-aos='fade-left'>
                <h1>Năm 2005</h1>
                <p>Đến thời điểm này đã có 5 trẻ giúp trong hoàn cảnh khó khăn bước vào học nghề và ra ngoài tự lập, Số lượng trẻ thời điểm này đã lên tới 50 trẻ</p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-left' id='event6' data-aos='fade-right'>
                <h1>Năm 2010</h1>
                <p>Đây là thời điểm có số lượng trẻ sơ sinh lên đến 10 cháu, Giai đoạn này tổng số lượng trẻ là 60 cháu, Đánh dấu cột mốc 15 năm hoạt động của mái ấm</p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-right' id='event7' data-aos='fade-left'>
                <h1>Năm 2012</h1>
                <p>Được các ân nhân cho mượn thêm 2 ngôi nhà liền kề để tiện cho việc sinh hoạt cho các cháu, Giai đoạn này có thêm 10 cháu được giúp đỡ ra ngoài tự lập, học nghê và đi làm</p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-left' id='event8' data-aos='fade-right'>
                <h1>Năm 2015</h1>
                <p>Số lượng các cháu đến thời điểm hiện tại là 40 trẻ. Đã trả trẻ còn người thân về với gia đình, Mái ấm lúc này được quy hoạch lại để chuẩn bị cho việc cấp phép hoạt động.</p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-right' id='event9' data-aos='fade-left'>
                <h1>Năm 2016</h1>
                <p>Mái ấm được cấp phép hoạt động, Trẻ tới tuổi được làm chứng mình nhân dân và vao đại học, Tiến hành thủ tục nhập khẩu cho trẻ</p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-left' id='event10' data-aos='fade-right'>
                <h1>Năm 2017 - 2018</h1>
                <p>Xây dựng lại mái ấm, Khánh thành ngày 4/8/2018</p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-right' id='event11' data-aos='fade-left'>
                <h1>Năm 2019</h1>
                <p>Ký đối tác với trường Đại Học Kinh Tế Tài Chính</p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-left' id='event12' data-aos='fade-right'>
                <h1>Năm 2020</h1>
                <p>Cột mốc 25 năm với 3 trẻ sơ sinh đầu tiên ra trường và đi làm.</p>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
        <li>
            <div class='event-item-mid' id="event-end" data-aos="zoom-in">
                <h1>Hiện Tại</h1>
                <img class='event-img' src='/Assets/client/img/house.jpg' alt='event-img' width='200'>
            </div>
        </li>
    </ul>
</div>
